body {
   /* background: url("http://nina-191f93-1300880091.tcloudbaseapp.com/static/img/niu-2-729.jpg");*/
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: move;
}
html{
    height: 100%;
}
header{
    /* 我们希望 header 采用固定的高度，只占用必须的空间 */
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}
.main-content{
    /* 将 flex-grow 设置为1，该元素会占用全部可使用空间
       而其他元素该属性值为0，因此不会得到多余的空间*/
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
}
footer{
    /* 和 header 一样，footer 也采用固定高度*/
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}



.m-padded-mini {
    padding: 0.2em !important;
}

.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded {
    padding: 1em !important;
}
.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big {
    padding-top: 7em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}


.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

/*-------text -----*/

.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing: 1px !important;
    margin-bottom: 1em !important;
}
.m-text-lined {
    line-height: 1.8;
}

/*-----margin------*/

.m-margin-top-small {
    margin-top:0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}

.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-bottom-small {
    margin-bottom: 0.5em !important;

}

/*-----opacity  透明度设置------*/
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-nine {
    opacity: 0.9 !important;
}
.m-opacity-tiny {
    opacity: 0.6 !important;
}
/*------position---*/

.m-right-top {
    position: absolute;
    top:0;
    right: 0;
}
.m-canvas-absolute{
    position:fixed !important;
    top:0!important;
    z-index: -10 !important;
}
.m-nav-fixed{
    position:fixed !important;
    z-index: 999 !important;
    height:5em !important;
    top:0em!important;
    left:0em!important;
}

/*------display------*/
.m-inline-block {
    display: inline-block !important;
}


/*-----container*/

.m-container {
   /* max-width: 72em !important;*/
    margin: auto !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}

/*------shadow------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3) !important;
}
.dimmer { background-color: rgba(250,250,50,0.8) }
/*------positon-----*/

.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}
.m-top-right{
    position:absolute;
    top:0;
    right: 0;
}
.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}
/*-------------animate动画效果-------------------*/
.m-animate-pulse:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}


/*-----color-----*/
.m-black {
    color: #333 !important;
}
.m-teal {
    color: #00B5AD !important;
}



.m-mobile-show {
    display: none !important;
}
/*判断768时 为手机时 需要出现的样式*/
@media screen and (max-width: 768px){
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
}